{% extends '_base.html' %}
{% load static %}
{% block title %}
    Post Detail
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'network/css/all_post.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content p-4">
        <div class="container">
            <div class="posts-container mx-auto">
                <div class="post-card mb-4" id="{{ post.id }}">
                    <!-- هدر پست -->
                    <div class="post-header d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="{% url 'network:profile_view' post.user.slug %}"
                               style=" text-decoration: none; color: black;">
                                <img src="{{ post.user.image_profile.url }}" alt="Profile Picture"
                                     class="rounded-circle me-1"
                                     style="width: 50px; height: 50px; object-fit: cover;">
                                <span class="fw-bold">{{ post.user.username }}</span>
                            </a>
                        </div>
                    </div>
                    <!-- تصویر پست -->
                    <div class="post-image text-center">
                        <img src="{{ post.image_post.url }}" alt="Post Image"
                             class="rounded shadow-sm img-fluid" style="width: 500px; height: 500px">
                    </div>
                    <!-- عنوان و کپشن -->
                    <div class="post-details mt-3">
                        <h5 class="fw-bold">{{ post.title }}</h5>
                        <p class="post-caption text-truncate mt-2" id="caption-{{ forloop.counter }}">
                            {{ post.caption }}
                        </p>
                        {% if post.caption|length >= 73 %}
                            <button class="btn btn-link text-primary p-0"
                                    onclick="toggleCaption('caption-{{ forloop.counter }}')" id="read-more">
                                read more
                            </button>
                        {% endif %}
                    </div>
                    <!-- ایکون‌ها -->
                    <div class="post-actions d-flex justify-content-between mt-3">
                        <div>
                            {% if check_like %}
                                <a href="{% url 'network:postDislike_view' post.id %}"
                                   class="text-decoration-none text-dark">
                                    <i class="bi bi-heart-fill me-3 text-danger"></i>

                                </a>
                            {% else %}
                                <a href="{% url 'network:postLike_view' post.id %}"
                                   class="text-decoration-none text-dark">
                                    <i class="bi bi-heart me-3"></i>

                                </a>
                            {% endif %}
                            <i class="bi bi-chat"></i>
                        </div>
                        {% if check_archive %}
                            <a href="{% url 'network:postUnarchive_view' post.id %}"
                               class="text-decoration-none text-dark">
                                <i class="bi bi-bookmark-fill me-3 text-primary"></i>

                            </a>
                        {% else %}
                            <a href="{% url 'network:postArchive_view' post.id %}"
                               class="text-decoration-none text-dark">
                                <i class="bi bi-bookmark"></i>

                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'network/js/all_post.js' %}"></script>
{% endblock %}