.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.error-message li {
    font-weight: bold;
}


.close-error:hover {
    color: #ff0000;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

